
.packsContainer {
  height: 80vh;
  background: white;
  margin: 24px 0 0 0;
  border-radius:8px;
}

.packColumn {
  height: 80vh;
  background-color:#ECECF9;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  padding: 25px 15px;
  .title {
    font-size: 16px;
    font-weight: 600;
  }
  .btnGroup {
    display: flex;
    justify-content: center;
    margin: 25px 0;
    .btn {
      width: 100%;
      padding: 15px;
      border: none;
      text-decoration: none;
      background-color: #fff;
    }
    .buttonActive {
      width: 100%;
      padding: 15px;
      border: none;
      text-decoration: none;
      background-color:#9A91C8;
      color: white;
    }
  }
}
