@import "../../../../Common/Styles/constants";
@import "../../../../Common/Styles/variables";

.header {

    height : 60px;
    line-height : 60px;
    background-color: $profileBgColor;

    a {
        text-decoration: none;
        border: none;
    }

    span {
        font-weight: 600;
        color: $textColor;
        cursor: pointer;
    }
    .logo {
        @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
            display: none;
        }
        @media (min-width: $tablet-and-mobile-min-width) and (max-width: $tablet-and-mobile-max-width) {
            display: none;
        }
    }
    .logOutBlock{
        display: flex;
        justify-content: end;

        >button {
            color:$textColor;
            font-size: 16px;
        }
        >button:hover{
            background-color: $linkActive;
        }
        .logOutIcon{
            display: none;
            @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
                display: flex;
                opacity: 0.6;
                align-items: center;
            }
        }

        .logOut {
            font-size: 15px;
            @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
                /*font-size: 12px;*/
                display: none;
            }
        }
    }


    .headerLink {
        &.headerLinkActive {
            background-color: $linkActive;
            border-bottom: 3px solid $actionButtonColor;
            margin-top: -3px;

            .packList {
                .title {
                    opacity: 1;
                }

                .icon {
                    opacity: 1;
                    color: $textColor;
                }
            }
        }

        .packList {
            display: flex;
            align-items: center;
            justify-content: center;

            &:active {
                color: $textColor;
            }

            .title {
                margin-left: 10px;
                font-weight: 400;
                font-size: 14px;
                opacity: 0.4;
            }

            .icon {
                opacity: 0.4;
            }
        }
    }
}
