@import "../../../../Common/Styles/mixins";
@import "../../../../Common/Styles/variables";

.editBtn {

  margin-top: 15px !important;
  color: $actionButtonColor !important;
  background: transparent !important;
  border: 1px solid #635D80 !important;
  border-radius: 2px !important;
  padding: 4px 10px !important;
  cursor: pointer;
}

.editBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 18px rgba(33, 38, 143, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.modalMainBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;

  .avatarBlock {
    position: relative;
    width: 100px;

    .avatarImg {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      object-fit: cover;
    }

    .iconUpload {
      position: absolute;
      bottom: -11px;
      right: -10px;
    }
  }

  .inputForms {
    width: 250px;
    margin: 20px 0;
  }

  .emailBlock {
    display: flex;
    justify-content: space-between !important;
    border: 1px solid black;
    color: black;
  }

}

.modalBtnGroup {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  .btnSave {
    @include actionButtonText;
    padding: 9px 30px;

  }

  .btnSave:hover {
    @include actionButtonHover;
  }

  .btnCancel {
    @include cancelButtonText;
    padding: 9px 30px;

  }

  .btnCancel:hover {
    @include cancelButtonHover;

  }
}