.input:focus {
  outline: none;
  border:rgb(213, 3, 255) solid 2px;
}

.superInput {
  margin-top: 20px;
  font-size: 12px;
  font-family: inherit;
  background-color: rgb(178, 136, 226);
  border-radius: 5px;
  width: 300px;
  color:aliceblue;
}

.errorInput {
  font-size: 12px;
  font-family: inherit;
  background-color: rgb(216, 108, 100);
  border: 1px solid;
  border-radius: 5px;
  width: 300px
}

.error {
  color: rgb(212, 40, 40);
}