.input:focus {
  outline: none;
  border:rgb(214, 214, 214) solid 2px;
}

.superInput {
  height: 30px;
  margin-top: 20px;
  font-size: 16px;
  font-family: inherit;
  background: #00aaf9;
  border-radius: 5px;
  width: 300px;
  color:aliceblue;
}

.errorInput {
  font-size: 12px;
  font-family: inherit;
  background-color: rgb(216, 108, 100);
  border: 1px solid;
  border-radius: 5px;
  width: 300px
}

.error {
  color: rgb(212, 40, 40);
}