$windowBackGroundColor:#F9F9FE;
$borderRadius:8px;
$fontFamily: "Poppins", sans-serif;
$textColor: #2D2E46;
$maxWindowWidth: 500px;
$firstButtonColor:#21268F;
$hoverFirstButtonColor: #666bc8;
$profileBgColor: #ECECF9;
$deleteButtonBgColor: #F50103;
$editBgColor: #D7D8EF;
$white: #fff;
$linkActive: #DCCCDB;
$mainPurple: #9A91C8;
$btnBoxShadow:  0 4px 18px rgba(33, 38, 143, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
$bgPurple: #4448c2;

