$windowBackGroundColor:#F9F9FE;
$borderRadius:8px;
$fontFamily: "Poppins", sans-serif;
$textColor: #2D2E46;
$maxWindowWidth: 500px;
$firstButtonColor:#21268F;
$profileBgColor: #ECECF9;
$deleteButtonBgColor: #F50103;
$editBgColor: #D7D8EF;
$white: #fff;

