@import "../../../../../Common/Styles/constants";
@import "../../../../../Common/Styles/variables";
@import "../../../../../Common/Styles/mixins";

.packHeaderBlock {
  /*border: 1px solid black;*/
  .title {
    font-size: 22px;
  }

  .paginator {
    display: block;
    position: absolute;
    bottom: 50px;
    right: 50px;
  }

  .elements {
    .input {
      background-color: #ECECF9;
      margin-right: 1.5rem;
    }

    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    /*border: 1px solid black;*/
    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
      flex-direction: column;
    }

    .addBtn {
      @include actionButtonText;
      padding: 0;
      width: 20rem;
      @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        margin-top: 20px;
        padding: 10px;
        width: 100%;
      }
    }

    .addBtn:hover {
      @include actionButtonHover;
    }
  }
}