.packHeaderBlock {
  .title {
    font-size: 22px;
  }
  .paginator {
    display: block;
    position: absolute;
    bottom: 50px;
    right: 50px;
  }
  .elements {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    .addBtn {
      background-color: #21268F;
      color: white;
      border-radius: 30px;
      padding: 9px 40px;
      border:none;
      cursor: pointer;
    }
  }
}