@import "../../../../../Common/Styles/constants";
@import "../../../../../Common/Styles/variables";

.wrapper {
  overflow: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;

  .table {
    .highlightTableCell {
      cursor: pointer;
    }

    .highlightTableCell:hover {
      background-color: #ECECF9;;
    }

    overflow-x: auto;
    margin-bottom: 15px;
    max-width: 100%;

    .tableBody {

      a {
        color: $firstButtonColor;
        text-decoration: none;
      }

      a:hover {
        color: $firstButtonColor;
        cursor: pointer !important;
      }
    }
  }

  .emptyPack {

    height: 100%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;

    .emptyText {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      opacity: 0.5
    }
  }
}

.buttonGroup {

  @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
    display: none;
  }
  display: flex;
  justify-content: space-evenly;

  .edit {
    padding: 4px 6px;
    border-radius: 2px;
    border: none;
    background: $editBgColor;
    color: $firstButtonColor;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
  }

  .delete {
    border-radius: 2px;
    padding: 4px;
    border: none;
    background: $deleteButtonBgColor;
    color: $white;
    cursor: pointer;
    font-weight: 600;
  }

}

.mobileButtonGroup {
  display: none;
  @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
    display: flex;
  }

  .iconEdit {
    color: $firstButtonColor;
    opacity: 0.6;
  }

  .iconLearn {
    @extend .iconEdit;
  }

  .iconInfo {
    @extend .iconEdit;
  }

  .iconDelete {
    color: $deleteButtonBgColor;
    opacity: 0.6;
  }
}

.hideForMobile {
  cursor: pointer;
  @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
    display: none;
  }
}

.hideForMobile:hover {
  background-color: #ECECF9;
}

.infoMobileIcon {
  display: none;
  @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
    display: inline-block;
    margin-right: 5px;
    height: 40px;
  }
}

.mobileFlex {
  @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
    display: flex;
    align-items: center
  }
}

.popover > * {
  padding: 15px;
  color: $firstButtonColor !important;
  box-shadow: none !important;
  border: 1px solid $firstButtonColor;
}
