@import "../../../../../Common/Styles/constants";
@import "../../../../../Common/Styles/variables";

.wrapper {
  overflow: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;

  .table {

    .highlightTableCell:hover {
      background-color: $profileBgColor;
    }

    overflow-x: auto;
    margin-bottom: 15px;
    max-width: 100%;

    .tableBody {

      a {
        color: $firstButtonColor;
        text-decoration: none;
      }

      a:hover {
        color: $firstButtonColor;
        cursor: pointer !important;
      }

      .actions {
        cursor: auto;
      }
    }
  }

  .emptyPack {

    height: 100%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;

    .emptyText {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      opacity: 0.5
    }
  }
}

.buttonGroup {
  .learnBtnWrapper {
    position: relative;
    width: 64px;
    height: 30.5px;

    .learn {
      position: absolute;
      border-radius: 2px;
      border: none;
      background: $editBgColor;
      color: $firstButtonColor;
      cursor: pointer;
      font-weight: 600;
      display: flex;
      flex-wrap: wrap;
      max-height: 100%;
    }
    .learnDisabled{
      @extend .learn;
      background: #eeeeee;
    }
    .learn:hover {
      border: 1px solid $hoverFirstButtonColor;
      background: $hoverFirstButtonColor;
      color: $white;
      transform: scale(1.05);
    }
  }

  button {
    padding: 3px !important;
  }

  .iconEdit {
    color: $firstButtonColor;
    opacity: 0.6;
  }

  .iconDelete {
    color: $deleteButtonBgColor;
    opacity: 0.6;
  }

  @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
    display: none;
  }
  display: flex;
  justify-content: space-evenly;


  .delete {
    border-radius: 2px;
    padding: 4px;
    border: none;
    background: $deleteButtonBgColor;
    color: $white;
    cursor: pointer;
    font-weight: 600;
  }

}

.mobileButtonGroup {
  display: none;
  @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
    display: flex;
  }

  .iconEdit {
    color: $firstButtonColor;
    opacity: 0.6;
  }

  .iconLearn {
    @extend .iconEdit;
  }

  .iconInfo {
    @extend .iconEdit;
  }

  .iconDelete {
    color: $deleteButtonBgColor;
    opacity: 0.6;
  }
}

.hideForMobile {
  @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
    display: none;
  }
}

.hideForMobile:hover {

  background-color: $profileBgColor;
}

.infoMobileIcon {
  display: none;
  @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
    display: inline-block;
    margin-right: 5px;
    height: 40px;
  }
}

.mobileFlex {
  @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
    display: flex;
    align-items: center
  }
}

.popover > * {
  color: $firstButtonColor !important;
  box-shadow: none !important;
  width: 100%;
}

.popoverDiv {
  background-color: $profileBgColor !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;

  .popoverTitle {
    font-weight: bold;
    font-size: 13px;
    color: $textColor;
  }

  span {
    font-size: 14px;
  }
}