@import "./../../../Common/Styles/variables";
@import "./../../../Common/Styles/mixins";

.modalBlock {
  word-wrap: break-word;
  .attachFile{
    color: $actionButtonColor;
    cursor: pointer;
  }
  .modalTitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
  }

  .modalText {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }

  .modalRating {
    @extend .modalText;
    display: flex;
    align-items: center;
  }

  .modalBtnGroup {

    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    .btnSave {
      @include actionButtonText;
      padding: 9px 30px;

      &.disabled {
        opacity: 0.5;
        cursor: not-allowed !important;
        /*color: red;*/
      }
    }


    .btnCancel {
      @include cancelButtonText;
      padding: 9px 30px;
    }

    .btnSave:hover {
      @include actionButtonHover;
    }

    .btnCancel:hover {
      @include cancelButtonHover;
    }

    .btnDelete {
      @extend .btnSave;
      background: #F1453D !important;
    }

    .btnDelete:hover {
      @extend .btnSave;
      background: #fa5c54 !important;
    }
  }

  .modalOneCancelBtn {
    @extend .modalBtnGroup;
    justify-content: center !important;
  }

  .inputsForm {
    width: 350px;
    margin: 20px 0;
  }
}