@import "../../../../Common/Styles/mixins";
@import "../../../../Common/Styles/variables";

.loginWrapper {
  height: 100vh;

  .login {
    @include windows();

    .newPassTextFields {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      width: 280px;

    }
    .textFields {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      width: 280px;
      position: relative;

      .emailError {
        position: absolute;
        top: 3.8rem;
        color: red;
        font-size: 14px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
      }
      .passError{
        @extend .emailError;
        top: 3.4rem;
      }
    }
    .checkbox {
      display: flex;
      align-items: center;
      margin-left: -10px;
      margin-top: 30px;
      cursor: pointer;
    }

    .remembMe {
      @font-face {
        font-family: 'SF UI Display';
        src: url(../../../../Common/Styles/fonts/sfuidisplay_bold.ttf);
        src: url(../../../../Common/Styles/fonts/sfuidisplay_heavy.ttf);
      }

      color: #21268F;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.71429;
      opacity: 0.8;
    }

    .forgPass {
      display: flex;
      justify-content: right;
      padding-top: 10px;

      @font-face {
        font-family: 'SF UI Display';
        src: url(../../../../Common/Styles/fonts/sfuidisplay_bold.ttf);
        src: url(../../../../Common/Styles/fonts/sfuidisplay_heavy.ttf);
      }

      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #21268F;
      text-decoration: none;
    }

    .forgPass:hover {
      color: #9a68c9;

    }


    .submit {
      display: flex;
      justify-content: center;
    }

    .button {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 280px;
      height: 80px;

      .circularProgress {
        margin-top: 30px;
      }

      .loginButton {
        @include actionButtonText;
        height: 36px;
        width: 266px;
      }

      .loginButton:hover {
        @include actionButtonHover;
      }

      .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

      }

      .question {
        margin-top: 30px;
        width: 100%;
        height: 24px;
        left: 565px;
        top: 571px;

        @font-face {
          font-family: 'SF UI Display';
          src: url(../../../../Common/Styles/fonts/sfuidisplay_bold.ttf);
          src: url(../../../../Common/Styles/fonts/sfuidisplay_heavy.ttf);
        }

        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #2D2E46;
        opacity: 0.5;
      }

      .signUp {
        margin-top: 11px;
        width: 100%;

        @font-face {
          font-family: 'SF UI Display';
          src: url(../../../../Common/Styles/fonts/sfuidisplay_bold.ttf);
          src: url(../../../../Common/Styles/fonts/sfuidisplay_heavy.ttf);
        }

        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;
        text-align: center;
        color: #21268F;
      }

      .signUp:hover {
        color: #4850c4
      }

    }
  }
}