@import "../../../../Common/Styles/variables";
@import "../../../../Common/Styles/mixins";

.passRecoveryWrapper {
  position: relative;
  @include windows();

  .h2 {
    margin-top: 25px;
    margin-bottom: 32px;
  }

  .p {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    align-items: center;
    width: 350px;
    color: #2D2E46;
    opacity: 50%;
    letter-spacing: 0;
    text-align: left;
    margin: 30px auto 90px;
  }

  .pSmall {
    @extend .p;
    width: 300px;
    margin: 30px auto 0 !important;
    justify-content: center;

  }

  .pLogin {
    @extend .pSmall;
    color: $actionButtonColor;
    opacity: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    margin: 11px auto 31px !important;
  }

  .button {
    @include actionButtonText;
  }

  .button:hover {
    @include actionButtonHover;
  }

  .error {
    position: absolute;
    top: 13.6rem;
    color: red;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  .pLogin:hover {
    color: #4850c4
  }
}