@import "../../../../Common/Styles/variables";
.passRecoveryWrapper {
    background-color: $backGroundColor;
    height: 540px;
    width: 413px;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: $fontFamily;

    .h2{
        margin-top: 25px;
        /*border: 1px solid black;*/
    }
    .p{
        display: flex;
        justify-content: flex-start;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        color: #2D2E46;
        opacity: 50%;
        text-align: center;
    }
    .pSmall{
        @extend .p;
        width: 241px;
        margin-top: 30px;
        justify-content: center;
    }
    .pLogin{
        @extend .pSmall;
        color: #21268F;
        opacity: 100%;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;
    }
}
