@import "../../../../Common/Styles/variables.scss";
@import "../../../../Common/Styles/mixins";

.loginWrapper {
  @include windows();

  .h1 {
    font-size: 26px;
  }

  .h2 {
    font-size: 22px;
    font-weight: 600;
  }

  .errors {
    color: red;
    font-size: 14px;
    display: flex;
    justify-content: center;
  }

  .newPassTextFields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .submit {
    display: flex;
    justify-content: center;
  }

  .button {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*border: 1px solid black;*/
    width: 280px;
    height: 80px;


    .sendButton {
      border-radius: 30px;
      border: solid 0;
      height: 36px;
      width: 266px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      opacity: 0.8;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
      letter-spacing: 0.01em;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
      background-color: #21268F;
      color: #ECECF9;
      box-shadow: 0 4px 18px rgba(33, 38, 143, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    }

    .sendButton:hover {
      background-color: #4448c2 !important;
    }


  }


  .textInstruction {
    margin-top: 30px;
    width: 320px;
    height: 48px;

    @font-face {
      font-family: 'SF UI Display';
      src: url(../../../../Common/Styles/fonts/sfuidisplay_bold.ttf);
      src: url(../../../../Common/Styles/fonts/sfuidisplay_heavy.ttf);
    }
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    /* or 150% */

    color: #2D2E46;

    opacity: 0.5;
  }

  .circularProgress {
    margin-top: 20px;
  }

  a:hover {
    color: #4448c2
  }
}