.profileBlock {

  .profileContainer {
    height: 80vh;
    background: white;
    margin: 24px 0 0 0;
    border-radius:8px;
  }

  .profileColumn {
    height: 80vh;
    background-color:#ECECF9;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    .profile {
      background-color:#D9D9F1;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      min-height: 300px;
    }
    .profileImg {
      padding: 24px;
      display: flex;
      justify-content: center
    }
    .img {
      width: 100px;
      border-radius: 100%;
    }
    .infoGroup {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
    }
  }
}