.button {
    margin: 20px;
    border: 2px solid #00021a;
    background: #cda1eb;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 15px;
}

.button:hover {
    border: 2px solid #ffffff;
    background: #00aaf9;
    color: #ffffff;
    font-weight: 500;
}

.button:active {
    border: 2px solid #000000;
    background: #00aaf9;
    color: #fff;
    font-weight: 500;
}