.login {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.link {
    font-family: 'Poppins', sans-serif;
    color: rgb(11, 0, 170);
    font-size: 14px;
    font-weight: 300;
    margin: 10px;
    text-decoration: none;
    line-height: 1.71429;
    text-align: left
}

a:hover {
    color: rgb(241, 253, 255);
}