@import "src/Common/Styles/variables";
.registerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  background-color: $backGroundColor;
  border-radius: $borderRadius;
  width: 413px;
  height: 540px;
  font-family: $fontFamily;
  color: $textColor;
  font-size: 16px;
  .h1{
    /*border: 1px solid black;*/
    /*margin-top: -109px;*/
  }
  .errors{
    color: red;
    font-size: 14px;
    display: flex;
    justify-content: center;
    /*margin-top: 5px;*/
    flex-wrap: wrap;
    width: 200px;
    /*border: 1px solid black;*/
  }
  .textFields{
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 200px;
  /*  border: 1px solid black;*/
  }
  .buttons{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  /*  border: 1px solid black;*/

    .cancelButton{
      background-color: #D7D8EF;
      border-radius: 30px;
      border: solid 0;
      height: 36px;
      width: 124px;
      margin-right: 2rem;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #21268F;
      opacity: 0.8;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
      letter-spacing: 0.01em;
      cursor: pointer;
    }
    .registerButton{
      @extend .cancelButton;
      background-color: #21268F;
      color: #ECECF9;
      box-shadow: 0 4px 18px rgba(33, 38, 143, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
      margin-right: 0;
    }
  }
}
