@import "./Common/Styles/constants";
.App {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(to bottom right, rgb(218, 201, 219), rgb(128, 128, 169));
    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        height: max-content;
    }
    @media (min-width: $tablet-and-mobile-min-width) and (max-width: $tablet-and-mobile-max-width) {
        height: max-content;
    }
    @media (min-width: $ipad-min-width) and (max-width: $ipad-max-width) {
        height: max-content;
    }
    @media (min-width: 900px) and (max-width: 1420px) {
        height: 100vh !important;
    }
    @media (min-width: $ipad-pro-min-width) and (max-width: $ipad-pro-max-width) {
        height: max-content;
    }
    @media (min-width: $ipad-pro12-min-width) and (max-width: $ipad-pro-max-width) {
        height: max-content;
    }
    @media (min-width: $ipad-pro12-min-width) and (max-width: $ipad-pro12-max-width) {
        height: max-content;
    }
}